@model WydatkiDomoweWeb.WebUI.Models.CheckboxViewModel

@using (Html.BeginForm("CheckboxList", "Checkbox", FormMethod.Post, new { model = Model }))
{
    <div>
        @for (int i = 0; i < Model.Checkbox.Items.Count(); i++)
        {
            <label class="checkbox-inline">
                @Html.CheckBoxFor(m => Model.Checkbox.Items[i].IsChecked)
                @Html.HiddenFor(m => Model.Checkbox.Items[i].Name)
                @Html.DisplayFor(m => Model.Checkbox.Items[i].Name)
            </label>
        }

        <input type="hidden" id="buttonvalue" />
        <input class="btn btn-primary" type="submit" value="Filtruj" />

   </div>
}