@model IEnumerable<string>

@using (Html.BeginForm("List", "Bill", new { page = 1 }))
{
    <div>
        <label class = "checkbox-inline">
            @Html.CheckBox("Wszystkie", true)
            Wszystkie
        </label> 
        @foreach(var link in Model)
        {
            <label class = "checkbox-inline">
                @Html.CheckBox(link, true)
                @link
            </label>
        }

        <input class = "btn btn-default" type="submit" value="Filtruj" /> 
    </div>
}