@model WydatkiDomoweWeb.WebUI.Models.CheckboxListViewModel

@using (Html.BeginForm("CheckboxList", "Checkbox", FormMethod.Post, new { checkboxListviewModel = Model}))
{
    <div class="form-group">
        <div class="btn-group"  data-toggle="buttons">

        @for (int i = 0; i < Model.CheckboxItems.Count(); i++ )
        {
            <label class="btn btn-default">                        
                @Html.CheckBoxFor(m => Model.CheckboxItems[i].IsChecked)
                <span class="glyphicon glyphicon-ok"></span>      
                @Html.HiddenFor(m => Model.CheckboxItems[i].Name)
                @Html.DisplayFor(m => Model.CheckboxItems[i].Name)            
            </label>
        }
        </div>
        <input type="hidden" id="buttonvalue"/>
        <input class = "btn btn-default" type="submit" value="Filtruj" /> 
    </div>
}
