@{
    ViewBag.Title = "Odbiorcy";
}

<div id="recipients" class="panel panel-default">
    <div class="panel-body" id="recipientsTable">
        @Html.Action("GetRecipients")
    </div>
    <div class="panel-footer">
        <div id="addItem">
            @Ajax.ActionLink("Dodaj nowego odbiorcę", "AddRecipient", "CrudRecipients", null, new AjaxOptions() { UpdateTargetId = "addItem", HttpMethod = "Get" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
