@using WydatkiDomoweWeb.WebUI.Models
@model List<CheckboxModel>


@using (Ajax.BeginForm("Checkbox", "Home", new AjaxOptions { UpdateTargetId = "homeBillTable"}, new { @class = "form" }))
{
    for (int i = 0; i < Model.Count(); i++)
    {
        <label class="checkbox-inline">
            @Html.CheckBoxFor(m => m[i].IsChecked)
            @Html.HiddenFor(m => m[i].Name)
            @Html.DisplayFor(m => m[i].Name)
        </label>
    }
        
    <input class="btn btn-primary" type="submit" value="Filtruj" />
}