@model WydatkiDomoweWeb.WebUI.Models.BillModel

<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title"> Usuwanie rachunku</h3>
        </div>
        <div class="modal-body">
            <h5>Chcesz usunąć rachunek "@Model.BillName"?</h5>
        </div>
        <div class="modal-footer">
            @using (Ajax.BeginForm("DeleteBill", "CrudBills", null, new AjaxOptions { UpdateTargetId = "billsTable", OnSuccess = "hideModal()" }, new { @class = "form-group" }))
            {
                @Html.Hidden("BillId", Model.Id)
                @Html.Hidden("BillName", Model.BillName)
                <input class="btn btn-primary" type="submit" value="Usuń" />
            }
            <button type="button" class="btn btn-default" data-dismiss="modal"> Anuluj</button>
        </div>
    </div>
</div>
