@{
    ViewBag.Title = "Główna";
}

<div id="bills" class="panel panel-default">
    <div class="panel-body">
        @Html.Action("Filter")
    </div>
    <div class="panel-body" id="billsTable">
        @Html.Action("GetBills")
    </div>
    <div class="panel-footer">
        <div>
            <button class="btn btn-primary" type="button" id="buttonAddBill">
                Dodaj nowy rachunek</button>
        </div>
        <div style="display: none;" id="addBill">
            @Html.Action("AddBill", "CrudBills")
        </div>
    </div>
</div>
