@{
    ViewBag.Title = "Główna";
}

<div id="bills" class="panel panel-default">
    <div class="panel-body">
        @Html.Action("Filter")
    </div>
    <div class="panel-body" id="billsTable">
        @Html.Action("GetBills")
    </div>
    <div class="panel-footer">
        <div  id="addBill">
            @Ajax.ActionLink("Dodaj nowy rachunek", "AddBill", "CrudBills", null, new AjaxOptions() { UpdateTargetId = "addBill", HttpMethod = "Get", OnSuccess = "configureAddBill" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
