@using WydatkiDomoweWeb.Domain.Entities



@{
    ViewBag.Title = "Rachunki";
}

<div class="panel panel-default">
    <div class="panel-body">
        @Html.Action("Checkbox")
    </div>
    <div class="panel-body" id="homeBillTable">
        @Html.Action("GetBill")
    </div>

    <div class="panel-footer">
        @Html.Action("AddBill", "CrudBill")
    </div> 
    <script type="text/javascript">
        $(function () {
            $('#selectBill').change(function () {
                var value = $('#selectBill').val();

                if (value !== "") {
                    var date = $('#' + value).val();
                    date = date.split(' ');
                    date = date[0].split('-');
                    var correctDate = date[2] + "." + date[1] + "." + date[0];

                    $('#datetimepicker').datetimepicker({
                        locale: 'pl'               
                    });
                    $('#datetimepicker').val('Data wpłaty');

                    $('#requiredDate').val(correctDate);
                }
                else {
                    $('#datetimepicker').val('Data wpłaty');
                    $('#requiredDate').val('Termin zapłaty');
                }
            });
        })
    </script>

</div>

