@using WydatkiDomoweWeb.Domain.Entities



@{
    ViewBag.Title = "Rachunki";
}

<div id="homeEditBill" class="panel panel-default">
    <div class="panel-body">
        @Html.Action("Checkbox")
    </div>
    <div class="panel-body" id="homeBillTable">
        @Html.Action("GetBill")
    </div>
    <div class="panel-footer">
        <div>
            <button class="btn btn-primary" type="button" id="buttonAddBill">
                Dodaj nowy rachunek</button>
        </div>
        <div style="display: none;" id="addBill">
            @Html.Action("AddBill", "CrudBill")
        </div>
    </div>
</div>
