@{
    ViewBag.Title = "Zestawienia";
}

<div class="panel panel-default">
    <div class="panel-body">
    <div>
        @Html.Action("GetMonthlyChart")
        </div>
        <div>
        @Html.Action("GetYearlyChart")
        </div>
    </div>
</div>
