@{
    ViewBag.Title = "Rachunki";
}

<div id="billsNames" class="panel panel-default">
    <div class="panel-body" id="billsNamesTable">
        @Html.Action("GetBillsNames")
    </div>
    <div class="panel-footer">
       <div  id="addBill">
            @Ajax.ActionLink("Dodaj nowy rachunek", "AddBillName", "CrudBillsNames", null, new AjaxOptions() { UpdateTargetId = "addBill", HttpMethod = "Get", OnSuccess = "setDefaultDateTimePicker(\"firstPaymentDate\")" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
